<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Final project
</h1>
<h2>
    Login/Register(Spring Security), Swagger(your_host/swagger-ui/index.html),<br>
    Weather Api(Open Weather Api), Email Sender, Order page(Buy product),<br>
    Sorting products, Sending product id to email after buying <br>
    Database: Postgresql
</h2>

</body>
<style>
footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: brown;
	color: white;
	text-align: center;
}
</style>
<footer>
    <p>Created by Baizak. © 2023</p>
</footer>
</html>